Оригинальный ноутбук доступен по ссылке -- https://gist.github.com/kenjyco/69eeb503125035f21a9d

Лицензия открытая, тем не менее, необходимо упомянуть:
```
The MIT License (MIT)

Copyright (c) 2019 Ken

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.
```


## Пару слов о ячейках в ноутбуке

Запускать ячейки можно сочетанием клавиш **`<Shift> + <Enter>`**. 

Клавиша **`<Enter>`** позволяет перенести курсор на следующую строку.

#### Ячейки с кодом

Перезапуск ячеек запустит весь код, написанный внутри ячейки. Чтобы модифицировать содержимое, необходимо кликнуть на нее (цвет поменяется с синего на зеленый).

#### Ячейки типа Markdown

Перезапуск ячеек сгенерирует текст в формате Markdown заново. Для редактирования необходимо кликнуть дважды.

<hr>

## References

- https://jupyter-notebook.readthedocs.io/en/latest/notebook.html
- https://mybinder.readthedocs.io/en/latest/introduction.html
- https://docs.python.org/3/tutorial/index.html
- https://docs.python.org/3/tutorial/introduction.html
- https://daringfireball.net/projects/markdown/syntax

<hr>

# 1. База
  
## Объекты, основный типы и переменные в Python 3

Всё в Python 3 является **объектом** (**object**) и любой объект имеет свой **тип** (**type**). Основные типы включают в себя:

- **`int`** (integer; целое число)
  - `10`
  - `-3`
- **`float`** (float; дробное число)
  - `7.41`
  - `-0.006`
- **`str`** (string; последовательности символов, обозначенная одинарной или двойной ковычкой, а также тройными одинарными или двойными ковычками)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; бинарная величина, может быть `True` или `False`)
  - `True`
  - `False`
- **`NoneType`** (особый тип, обозначающий отсутствие значения)
  - `None`

В Python **переменная** (**variable**) — это имя, указанное вами в коде, которое сопоставляется с конкретным **объектом** (**object**), **экземпляром** (**instance**) объекта или значением.

Определяя переменные, мы можем ссылаться на объекты по именам, которые имеют для нас смысл (стараемся давать осмысленные названия для переменных). Имена переменных могут содержать только буквы, знаки подчеркивания (`_`) или цифры (без пробелов, тире и других символов). Имена переменных должны начинаться с буквы или подчеркивания (с цифр начинать название нельзя).

<hr>

## Основные операторы

В Python существуют разные типы **операторов** (**operators**) (специальных символов), которые работают с разными значениями. Некоторые из основных операторов включают в себя:

- арифметические операторы
   - **`+`** (сумма)
   - **`-`** (вычитание)
   - **`*`** (умножение)
   - **`/`** (деление)
   - __`**`__ (степень)
- операторы присваивания
   - **`=`** (присвоить значение)
   - **`+=`** (суммировать и переназначение; увеличение; аналог конструкции **`a++`**)
   - **`-=`** (вычесть и переназначить; уменьшение; аналог конструкции **`a--`**)
   - **`*=`** (умножить и переназначить)
- операторы сравнения (возвращают либо `True`, либо `False`)
   - **`==`** (равно)
   - **`!=`** (не равно)
   - **`<`** (меньше чем)
   - **`<=`** (меньше или равно)
   - **`>`** (больше чем)
   - **`>=`** (больше или равно)

Если в одном выражении используется несколько операторов, **приоритет операторов** определяет, какие части выражения в каком порядке вычисляются. Операторы с более высоким приоритетом оцениваются в первую очередь. Операторы с одинаковым приоритетом оцениваются слева направо. Приоритет операторов ниже:

- круглые скобки `()` для группировки
- возведение в степень `**`
- `*`, `/` умножение и деление
- `+`, `-` сложение и вычитание
- операторы сравнения `==`, `!=`, `<`, `<=`, `>`, `>=`

> See https://docs.python.org/3/reference/expressions.html#operator-precedence

In [124]:
# Присвоение некоторых чисел разным переменным
num1 = 10
num2 = -3
num3 = 7.41
num4 = -.6
num5 = 7
num6 = 3
num7 = 11.11

In [125]:
# Сложение
num1 + num2

7

In [126]:
# Вычитание
num2 - num3

-10.41

In [127]:
# Умножение
num3 * num4

-4.446

In [128]:
# Деление
num4 / num5

-0.08571428571428572

In [129]:
# Возведение в степень
num5 ** num6

343

In [130]:
num5 // num6

2

In [131]:
num5 % num6

1

In [132]:
num7

11.11

In [133]:
# Увеличение значения переменной
num7 += 4
num7

15.11

In [134]:
num7

15.11

In [135]:
num6

3

In [136]:
# Вычитание из значения переменной
num6 -= 2
num6

1

In [137]:
# Умножение значения переменной
num3 *= 5
num3

37.05

In [138]:
# Присвоить значение переменной в виде выражения
num8 = num1 + num2 * num3
num8

-101.14999999999999

In [139]:
num1, num2, num5

(10, -3, 7)

In [140]:
# Равенство двух выражений
num1 + num2 == num5

True

In [141]:
num3, num4

(37.05, -0.6)

In [142]:
# Неравенство двух выражений
num3 != num4

True

In [143]:
num5, num6

(7, 1)

In [144]:
# Сравнений значений двух переменных (либо выражений)
num5 < num6

False

In [145]:
# Является ли запись ниже истинной (True)?
5 > 3 > 1

True

In [146]:
# Верно ли это выражение?
5 > 3 < 4 == 3 + 1

True

In [147]:
# Присваиваем значения разных строк разным переменным
simple_string1 = 'an example'
simple_string2 = "oranges "

In [148]:
# Сложение (конкатенация) строк
simple_string1 + ' of using the + operator'

'an example of using the + operator'

In [149]:
# Обратите внимание, что исходная строка не поменялась
simple_string1

'an example'

In [150]:
# Умножение строк
simple_string2 * 4

'oranges oranges oranges oranges '

In [151]:
# Исходная строка вновь не изменилась
simple_string2

'oranges '

In [152]:
# Равны ли строки друг другу?
simple_string1 == simple_string2

False

In [153]:
# Равенство строк друг другу
simple_string1 == 'an example'

True

In [154]:
# Конкатенация и переназначение переменной
simple_string1 += ' that re-assigned the original string'
simple_string1

'an example that re-assigned the original string'

In [155]:
# Умножение и переназначение переменной
simple_string2 *= 3
simple_string2

'oranges oranges oranges '

In [156]:
# Примечание. Операторы вычитания и деления не применяются к строкам.

## Базовые контейнеры

> Примечание. **изменяемые** (**mutable**) объекты можно изменить после создания, а **неизменяемые** (**immutable**) — нет.

Контейнеры — это объекты, которые можно использовать для хранения других объектов. К основным типам контейнеров относятся:

- **`str`** (строка: неизменяемая; индексируется целыми числами; элементы сохраняются в том порядке, в котором они были добавлены)
- **`list`** (список: изменяемый; индексируется целыми числами; элементы сохраняются в том порядке, в котором они были добавлены)
   - `[3, 5, 6, 3, 'собака', 'кошка', False]`
- **`tuple`** (кортеж: неизменяемый; индексируется целыми числами; элементы сохраняются в том порядке, в котором они были добавлены)
   - `(3, 5, 6, 3, 'собака', 'кошка', False)`
- **`set`** (множество: изменяемый; вообще не индексируется; элементы НЕ хранятся в том порядке, в котором они были добавлены; может содержать только неизменяемые объекты; НЕ содержит повторяющиеся объекты)
   - `{3, 5, 6, 'собака', 'кошка', False}`
- **`dict`** (словарь: изменяемый; пары ключ-значение индексируются неизменяемыми ключами; элементы НЕ сохраняются в том порядке, в котором они были добавлены)
   - `{'name': 'Джейн',  
       'age': 23,  
       'fav_foods': ['пицца', 'фрукты', 'рыба']}`

При определении списков (list), кортежей (tuple) или множеств (set) используются запятые (,) для разделения отдельных элементов. При определении словарей (dict) используют двоеточие (:) для отделения ключей от значений и запятые (,) для разделения пар ключ-значение.

Строки, списки и кортежи — это **типы последовательностей**, к которым могут применяться операторы `+`, `*`, `+=` и `*=`.

In [157]:
# Присваиваем контейнерам определенные значения
list1 = [3, 5, 6, 3, 'dog', 'cat', False]
tuple1 = (3, 5, 6, 3, 'dog', 'cat', False)
set1 = {3, 5, 6, 3, 'dog', 'cat', False}
dict1 = {'name': 'Jane', 
         'age': 23, 
         'fav_foods': ['pizza', 'fruit', 'fish']}

In [158]:
# Элементы списка хранятся в том порядке, в котором они были добавлены
list1

[3, 5, 6, 3, 'dog', 'cat', False]

In [159]:
# Элементы в кортеже хранятся в том порядке, в котором они были добавлены
tuple1

(3, 5, 6, 3, 'dog', 'cat', False)

In [160]:
# Элементы множества не сохраняются в том порядке, в котором они были добавлены (начиная с Python 3.6+ сохраняются)
# Также обратите внимание, что значение 3 появляется в множестве только один раз
set1

{3, 5, 6, False, 'cat', 'dog'}

In [161]:
# Элементы в словаре сохраняются не в том порядке, в котором они были добавлены (начиная с Python 3.6+ сохраняются)
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [162]:
# Суммирование и переназначение переменной
list1 += [5, 'grapes']
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [163]:
# Суммирование и переназначение переменной
tuple1 += (5, 'grapes')
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [164]:
# Перемножение
[1, 2, 3, 4] * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [165]:
# Перемножение
(1, 2, 3, 4) * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

## Доступ к данным в контейнерах (индексация)

Для строк, списков, кортежей и словарей мы можем использовать **индексную запись** (квадратные скобки) для доступа к данным по индексу.

- строки, списки и кортежи индексируются целыми числами, **начиная с 0** для первого элемента.
   - эти типы последовательностей также поддерживают доступ к диапазону элементов, известный как **слайсы** (**slice**).
   - можно использовать **отрицательную индексацию**, чтобы начать с конца последовательности.
- Словари индексируются по их ключам

> Примечание: множества не индексируются, поэтому мы не можем использовать индексную запись для доступа к элементам данных.

In [166]:
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [167]:
# Access the first item in a sequence
list1[1]

5

In [168]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [169]:
# Access the last item in a sequence
tuple1[-2]

5

In [170]:
simple_string1

'an example that re-assigned the original string'

In [171]:
# Access a range of items in a sequence
simple_string1[3:8]

'examp'

In [172]:
tuple1

(3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes')

In [173]:
# Access a range of items in a sequence
tuple1[:-3]

(3, 5, 6, 3, 'dog', 'cat')

In [174]:
# Access a range of items in a sequence
list1[4:]

['dog', 'cat', False, 5, 'grapes']

In [175]:
dict1

{'name': 'Jane', 'age': 23, 'fav_foods': ['pizza', 'fruit', 'fish']}

In [176]:
# Access an item in a dictionary
dict1['name']

'Jane'

In [177]:
dict1['age']

23

In [178]:
dict1['height'] = 165

In [179]:
dict1['fav_foods'][2]

'fish'

In [180]:
# Access an element of a sequence in a dictionary
dict1['fav_foods'][2]

'fish'

## Python «циклы for»

Легко **перебирать** коллекцию элементов, используя цикл **for**. Определенные нами строки, списки, кортежи, множества и словари являются **итерируемыми** контейнерами.

Цикл for будет проходить через указанный контейнер по одному элементу за раз и предоставлять временную переменную для текущего элемента. Вы можете использовать эту временную переменную как обычную переменную.

In [181]:
list1

[3, 5, 6, 3, 'dog', 'cat', False, 5, 'grapes']

In [182]:
for i in range(5):
    print(i)

0
1
2
3
4

In [183]:
range(5)

range(0, 5)

In [184]:
bb = list(range(5))

In [185]:
bb

[0, 1, 2, 3, 4]

In [186]:
# Вложенные циклы
for x in range(1, 11):
    for y in range(1, 11):
        print('%d * %d = %d' % (x, y, x*y))

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [187]:
# Выход из цикла по условию
for x in range(3):
    print(x)
    if x == 1:
        break

0
1

In [188]:
# итерации по элементам контейнера (строки)
string = "Hello World"
for x in string:
    print(x)

H
e
l
l
o

W
o
r
l
d

In [189]:
# итерации по элементам контейнера (список)
words = ["раз", "два", "три"]
for element in words:
    print(element)

раз
два
три

In [190]:
len(words)

3

In [191]:
len(string)

11

In [192]:
len(words)

3

In [193]:
# итерации по индексам контейнера (список)
for i in range(len(words)):
    print(words[i])

раз
два
три

In [194]:
# итерации по индексам контейнера (список)
for i in range(3):
    print(i)
    print(words[i])

0
раз
1
два
2
три

In [195]:
# итерации по элементам контейнера (список списков)
list_of_lists = [[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]
                ]
for list_ in list_of_lists:
    for x in list_:
        print(x)

1
2
3
4
5
6
7
8
9

## Python «операторы if» и «циклы while»

Условные выражения можно использовать с этими двумя **условными операторами**.

Оператор **if** позволяет вам проверить условие и выполнить некоторые действия, если условие оценивается как «True». Вы также можете добавить в оператор if предложения elif и/или else, чтобы выполнять альтернативные действия, если условие оценивается как False.

Цикл **while** будет продолжать работать до тех пор, пока его условное выражение не примет значение False.

> Примечание. При использовании цикла while с условным выражением, которое никогда не принимает значение «False», возможен «вечный цикл».
>
> Примечание. Поскольку цикл **for** будет перебирать контейнер элементов до тех пор, пока их не останется, нет необходимости указывать условие прекращения цикла.

In [196]:
a = 4
if a == 3:
    print('a равно 3')
else:
    print('a не равно 3')

a не равно 3

In [197]:
a = 4
if a == 3:
    print('a равно 3')
elif a == 4:
    print('a равно 4')
elif a == 5:
    print('a равно 5')
else:
    print('a не равно 3 или 4 или 5')

a равно 4

In [198]:
a = 5

if a > 5:
    print("a больше 5")
elif a > 3:  # else + if
    print("а больше 3")
else:
    print("a меньше 3")

а больше 3

In [199]:
x = 5 # True
if x:
    a = 3
else:
    a = 2
    
print(a)

3

In [200]:
x = None  # False
if x:
    a = 3
else:
    a = 2

print(a)

2

In [201]:
# тернарный оператор
a = 3 if x else 2
a

2

In [202]:
x = 3
if x > 5:
    a = 10
else:
    a = 5 

print(a)

5

In [203]:
a = 10 if x > 5 else 5
print(a)

5

In [204]:
a = 0
while a < 5:
    print(a)
    a = a + 1

0
1
2
3
4

In [205]:
a = 0
while a < 5:
    a = a + 1
    print(a)

1
2
3
4
5

In [206]:
a

5

In [207]:
# while True:
#     if a == 6:
#         break

# 1.5 Некоторые детали базы Python

## Встроенные функции и вызываемые объекты Python

**Функция** (**function**) — это объект Python, который вы можете «вызвать», чтобы **выполнить действие** или произвести вычисления и **вернуть другой объект**. Вызвать функцию можно, написав круглые скобки справа от имени функции. Некоторые функции позволяют передавать **аргументы** внутри круглых скобок (разделяя несколько аргументов запятой). Внутри функции эти аргументы рассматриваются как переменные.

Python имеет несколько полезных встроенных функций, которые помогут вам работать с различными объектами и/или вашей средой. Вот небольшая их часть:

- **`type(obj)`** для определения типа объекта
- **`len(container)`**, чтобы определить, сколько элементов находится в контейнере
- **`callable(obj)`**, чтобы определить, доступен ли вызов объекта
- **`sorted(container)`** для возврата нового списка из контейнера с отсортированными элементами.
- **`sum(container)`** для вычисления суммы элементов контейнера
- **`min(container)`** для определения наименьшего элемента в контейнере.
- **`max(container)`** для определения самого большого элемента в контейнере.
- **`abs(number)`** для определения абсолютного значения числа.
- **`repr(obj)`** для возврата строкового представления объекта.

> Полный список встроенных функций: https://docs.python.org/3/library/functions.html.

Существуют также различные способы определения ваших собственных функций и вызываемых объектов, которые мы рассмотрим позже.

In [208]:
# Используйте функцию type() для определения типа объекта
type(simple_string1)

str

In [209]:
# Используйте функцию len(), чтобы определить, сколько элементов находится в контейнере
len(dict1)

4

In [210]:
# Используйте функцию len(), чтобы определить, сколько элементов находится в контейнере
len(simple_string2)

24

In [211]:
# Используйте функцию callable(), чтобы определить, можно ли вызвать объект
callable(len)

True

In [212]:
# Use the callable() function to determine if an object is callable
callable(dict1)

False

In [213]:
# Используйте функцию sorted() для возврата нового списка из контейнера с отсортированными элементами
sorted([10, 1, 3.6, 7, 5, 2, -3])

[-3, 1, 2, 3.6, 5, 7, 10]

In [214]:
# Используйте функцию sorted(), чтобы вернуть новый список из контейнера с отсортированными элементами
# обратите внимание, что строки с заглавной буквы идут первыми
sorted(['dogs', 'cats', 'zebras', 'Chicago', 'California', 'ants', 'mice'])

['California', 'Chicago', 'ants', 'cats', 'dogs', 'mice', 'zebras']

In [215]:
# Используйте функцию sum() для вычисления суммы элементов контейнера
sum([10, 1, 3.6, 7, 5, 2, -3])

25.6

In [216]:
# Используйте функцию min() для определения наименьшего элемента в контейнере
min([10, 1, 3.6, 7, 5, 2, -3])

-3

In [217]:
# Используйте функцию min() для определения наименьшего элемента в контейнере
min(['g', 'z', 'a', 'y'])

'a'

In [218]:
# Используйте функцию max(), чтобы определить самый большой элемент в контейнере
max([10, 1, 3.6, 7, 5, 2, -3])

10

In [219]:
# Используйте функцию max(), чтобы определить самый большой элемент в контейнере
max('gibberish')

's'

In [220]:
# Используйте функцию abs() для определения абсолютного значения числа
abs(10)

10

In [221]:
# Используйте функцию abs() для определения абсолютного значения числа
abs(-12)

12

In [222]:
# Используйте функцию repr() для возврата строкового представления объекта
repr(set1)

"{False, 3, 'dog', 5, 6, 'cat'}"

## Атрибуты объекта Python (методы и свойства)

Различные типы объектов в Python имеют разные **атрибуты** (**attributes**), на которые можно ссылаться по имени (аналогично переменной). Чтобы получить доступ к атрибуту объекта, используйте точку (`.`) после объекта, затем укажите атрибут (например, `obj.attribute`).

Если атрибут объекта является вызываемым, этот атрибут называется **методом** (**method**). Это то же самое, что и функция, только эта функция привязана к конкретному объекту.

Если атрибут объекта не является вызываемым, этот атрибут называется **свойством** (**property**). Это просто часть данных об объекте, который сам по себе является другим объектом.

Встроенная функция dir() может использоваться для возврата списка атрибутов объекта.

<hr>

## Некоторые методы для строковых объектов (string, str)

- **`.capitalize()`** для возврата версии строки с заглавной буквы (только первый символ в верхнем регистре)
- **`.upper()`** для возврата версии строки в верхнем регистре (все символы в верхнем регистре)
- **`.lower()`** для возврата версии строки в нижнем регистре (все символы в нижнем регистре)
- **`.count(substring)`** для возврата количества вхождений подстроки в строку
- **`.startswith(substring)`**, чтобы определить, начинается ли строка с подстроки
- **`.endswith(substring)`**, чтобы определить, заканчивается ли строка подстрокой
- **`.replace(old, new)`** для возврата копии строки с заменой слова "old" на "new"

In [223]:
# Определяем значение переменной
a_string = 'tHis is a sTriNg'

In [224]:
# Вернуть строку с заглавной буквы
a_string.capitalize()

'This is a string'

In [225]:
# Вернуть строку в верхнем регистре
a_string.upper()

'THIS IS A STRING'

In [226]:
# Вернуть строку в нижнем регистре
a_string.lower()

'this is a string'

In [227]:
# Обратите внимание, что вызванные методы не изменили строку
a_string

'tHis is a sTriNg'

In [228]:
# Подсчитать количество вхождений подстроки в строку
a_string.count('i')

3

In [229]:
# CПодсчитать количество вхождений подстроки в строку
a_string.count('is')

2

In [230]:
# Подсчитать количество вхождений подстроки в строку после определенной позиции
a_string.count('i', 7)

1

In [231]:
# Начиается ли строка с 'this'?
a_string.startswith('this')

False

In [232]:
# Начинается ли строка в нижнем регистре с 'this'?
a_string.lower().startswith('this')

True

In [233]:
# Заканчивается ли строка на 'Ng'?
a_string.endswith('Ng')

True

In [234]:
# Вернуть строку с заменой одной подстроки на другую
a_string.replace('is', 'XYZ')

'tHXYZ XYZ a sTriNg'

In [235]:
# Вернуть строку с заменой одной подстроки на другую
a_string.replace('i', '!')

'tH!s !s a sTr!Ng'

In [236]:
# Вернуть строку, в которой первые два вхождения подстроки заменены другой подстрокой.
a_string.replace('i', '!', 2)

'tH!s !s a sTriNg'

## Некоторые методы для объектов списка (list)

- **`.append(item)`** для добавления одного элемента в список
- **`.extend([item1, item2, ...])`** для добавления нескольких элементов в список
- **`.remove(item)`** для удаления одного элемента из списка
- **`.pop()`** для удаления и возврата элемента в конце списка
- **`.pop(index)`** для удаления и возврата элемента по индексу

In [237]:
sample_list = [1, 2, 3]

In [238]:
# добавить один элемент в лист
sample_list.append(4)
sample_list

[1, 2, 3, 4]

In [239]:
# добавить несколько элементов в лист (по сути сложение листов)
sample_list.extend([5, 6, 7])
sample_list

[1, 2, 3, 4, 5, 6, 7]

In [240]:
# удалить элемент по значению из листа
sample_list.remove(4)
sample_list

[1, 2, 3, 5, 6, 7]

In [241]:
# удалить последний элемент листа с возвратом этого значения в отдельную переменную
popped_element = sample_list.pop()
sample_list, popped_element

([1, 2, 3, 5, 6], 7)

In [242]:
# удалить элемент по индексу с возвратом
popped_element = sample_list.pop(1)
sample_list, popped_element

([1, 3, 5, 6], 2)

## Некоторые методы для объектов множеств (set)

- **`.add(item)`** для добавления одного элемента в множество
- **`.update([item1, item2, ...])`** для добавления нескольких элементов в множество
- **`.update(set2, set3, ...)`** для добавления элементов из всех предоставленных множеств в множество
- **`.remove(item)`** для удаления одного элемента из множество
- **`.pop()`** для удаления и возврата случайного элемента из множество
- **`.difference(set2)`** для возврата элементов в множестве, которых нет в другом множестве
- **`.intersection(set2)`** для возврата элементов в обоих множествах
- **`.union(set2)`** для возврата элементов, входящих в любое множество
- **`.symmetric_difference(set2)`** для возврата элементов, которые входят только в одно множество (а не в оба)
- **`.issuperset(set2)`** содержит ли это множество все, что есть в другом множестве?
- **`.issubset(set2)`** содержится ли это множество в другом множестве?

In [243]:
sample_set = {1, 2, 3}

In [244]:
sample_set.add(4)
sample_set

{1, 2, 3, 4}

In [245]:
sample_set.update([5, 6])
sample_set

{1, 2, 3, 4, 5, 6}

In [246]:
sample_set.update({7, 8}, {9, 10})
sample_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [247]:
sample_set.remove(7)
sample_set

{1, 2, 3, 4, 5, 6, 8, 9, 10}

In [248]:
popped_value = sample_set.pop()
sample_set, popped_value

({2, 3, 4, 5, 6, 8, 9, 10}, 1)

In [249]:
popped_value = sample_set.pop()
sample_set, popped_value

({3, 4, 5, 6, 8, 9, 10}, 2)

In [250]:
popped_value = sample_set.pop()
sample_set, popped_value

({4, 5, 6, 8, 9, 10}, 3)

Все, что описано ниже, можно проиллюстрировать для наглядности так

![](https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png)

In [251]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

set1.difference(set2)

{1, 2}

In [252]:
set1.intersection(set2)

{3, 4, 5}

In [253]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7}

In [254]:
set1.symmetric_difference(set2)

{1, 2, 6, 7}

In [255]:
set1.issuperset(set2)

False

In [256]:
set1.issuperset({1, 2})

True

In [257]:
set1.issubset(set2)

False

In [258]:
set1.issubset({1, 2, 3, 4, 5, 6, 7})

True

## Некоторые методы для словарей (dict)

- **`.update([(key1, val1), (key2, val2), ...])`** для добавления в словарь нескольких пар ключ-значение.
- **`.update(dict2)`** для добавления всех ключей и значений из другого словаря в словарь.
- **`.pop(key)`** для удаления ключа и возврата его значения из словаря (ошибка, если ключ не найден)
- **`.pop(key, default_val)`** для удаления ключа и возврата его значения из словаря (или возврата default_val, если ключ не найден)
- **`.get(key)`** для возврата значения по указанному ключу в словаре (или None, если ключ не найден)
- **`.get(key, default_val)`** для возврата значения по указанному ключу в словаре (или default_val, если ключ не найден)
- **`.keys()`** для возврата списка ключей в словаре
- **`.values()`** для возврата списка значений в словаре
- **`.items()`** для возврата списка пар ключ-значение (кортежей) в словаре

In [259]:
sample_dict = {'name': 'Ivan', 
               'age': 20}

In [260]:
sample_dict.update([('city', 'Moscow')])
sample_dict

{'name': 'Ivan', 'age': 20, 'city': 'Moscow'}

In [261]:
dict_to_add = {'fav_food': 'apple', 
               'language': 'Russian'}

sample_dict.update(dict_to_add)
sample_dict

{'name': 'Ivan',
 'age': 20,
 'city': 'Moscow',
 'fav_food': 'apple',
 'language': 'Russian'}

In [262]:
popped_value = sample_dict.pop('language')
sample_dict, popped_value

({'name': 'Ivan', 'age': 20, 'city': 'Moscow', 'fav_food': 'apple'}, 'Russian')

In [263]:
sample_dict.get('name')

'Ivan'

In [264]:
sample_dict.get('surname', 'Unknown')

'Unknown'

In [265]:
sample_dict.keys()

dict_keys(['name', 'age', 'city', 'fav_food'])

In [266]:
sample_dict.values()

dict_values(['Ivan', 20, 'Moscow', 'apple'])

In [267]:
sample_dict.items()

dict_items([('name', 'Ivan'), ('age', 20), ('city', 'Moscow'), ('fav_food', 'apple')])

In [268]:
for key, value in sample_dict.items():
    print('This is key:', key + '. And this is value:', value)

This is key: name. And this is value: Ivan
This is key: age. And this is value: 20
This is key: city. And this is value: Moscow
This is key: fav_food. And this is value: apple

# 2. Для переживших первый этап (условно Advanced уровень)

## Позиционные аргументы (positional) и ключевые аргументы (keyword) для вызываемых объектов (callable)

Вы можете вызвать функцию/метод несколькими способами:

- `func()`: вызов `func` без аргументов.
- `func(arg)`: вызов `func` с одним позиционным аргументом.
- `func(arg1, arg2)`: вызов `func` с двумя позиционными аргументами.
- `func(arg1, arg2, ..., argn)`: вызов `func` со многими позиционными аргументами.
- `func(kwarg=value)`: вызов `func` с одним ключевым аргументом.
- `func(kwarg1=value1, kwarg2=value2)`: вызов `func` с двумя ключевыми аргументами.
- `func(kwarg1=value1, kwarg2=value2, ..., kwargn=valuen)`: вызов `func` с множеством ключевых аргументов.
- `func(arg1, arg2, kwarg1=value1, kwarg2=value2)`: вызов `func` с позиционными аргументами и ключевыми аргументами.
- `obj.method()`: то же самое для `func`... и любого другого примера `func`

При использовании **позиционных аргументов** (**positional arguments**) вы должны указывать их в том порядке, в котором они были определены при создании функции (**сигнатура** (**signature**) функции).

При использовании **ключевых аргументов** (**keyword arguments**) вы можете указывать нужные аргументы в любом порядке, при условии, что вы укажете имя каждого аргумента.

При использовании позиционных и ключевых аргументов позиционные аргументы должны идти первыми.

## Форматирование строк и использование заполнителей

## List, set, and dict comprehensions (списковые, множественные и словарные включения)

## Создание объектов из аргументов или других объектов

Все базовые типы и контейнеры, которые мы использовали до сих пор, предоставляют **конструкторы типов**:

- `int()`
- `float()`
- `str()`
- `list()`
- `tuple()`
- `set()`
- `dict()`

До этого момента мы определяли объекты этих встроенных типов, используя некоторые синтаксические сокращения, поскольку они очень распространены.

Иногда у вас есть объект одного типа, который вам нужно преобразовать в другой тип. Используйте **конструктор типа** для типа объекта, который вы хотите, и передайте объект, который у вас есть в данный момент.

## Импорты библиотек

Зачастую готовые модули уже написаны за нас, и мы можем использовать эти готовые модули. Такие модули называются библиотеки.  
Есть как встроенные библиотеки (например, math), так и те, которые необходимо устанавливать (например, numpy).  
Чтобы импортировать библиотеку, необходимо написать `import <libname>`

In [269]:
import math

math.cos(0.5), math.sqrt(9)

(0.8775825618903728, 3.0)

Можно импортировать библиотеку с использованием псевдонима для удобства

In [270]:
import math as mt  # так обычно не делают, но для примера можно

mt.cos(0.5), mt.sqrt(9)

(0.8775825618903728, 3.0)

Можно из библиотеки импортировать отдельные модули или функции, если понимаете, что не весь функционал библиотеки вам необходим

In [271]:
from math import cos, sin, sqrt


cos(0.5), sin(0.5), sqrt(0.5)

(0.8775825618903728, 0.479425538604203, 0.7071067811865476)

## Исключения

# 3. Введение в ООП на Python 3

## Определение функций и методов

Чтобы написать свою функцию, сначала необходимо придумать ей говорящее название и написать его после `def`, а также определиться с входными аргументами

In [272]:
def sum_of_three_variables(input_list, num_to_add) -> int:
    """
    Здесь sum_of_three_variables -- название функции
    var1, var2, var3 -- аргументы функции, то есть то, что мы должны подать внутрь
    К слову, сейчас вы читаете докстринг (документацию) к функции
    Здесь можно описать каждый аргумент и логику работы функции
    Документация пишется в первую очередь для других разработчиков и для себя
    т.к. спустя время вспоминать, что было написано ранее бывает затруднительно
    """
    input_list.append(num_to_add)

In [273]:
from copy import copy

In [274]:
a = [1, 2, 3]
result_of_sum = sum_of_three_variables(copy(a), 4)

In [275]:
a

[1, 2, 3]

Давайте попробуем без `return`

In [276]:
def sum_of_three_variables(var1: int, var2: int, var3: int):
    """
    Здесь sum_of_three_variables -- название функции
    var1, var2, var3 -- аргументы функции, то есть то, что мы должны подать внутрь
    К слову, сейчас вы читаете докстринг (документацию) к функции
    Здесь можно описать каждый аргумент и логику работы функции
    Документация пишется в первую очередь для других разработчиков и для себя
    т.к. спустя время вспоминать, что было написано ранее бывает затруднительно
    """
    result = var1 + var2 + var3
    # отсутствует return

In [277]:
result_of_sum = sum_of_three_variables(1, 2, 3)
result_of_sum

In [278]:
result_of_sum is None

True

Результат вывода функции у нас пустой, т.е. все то, что мы положили в переменную `result` так и осталось внутри функции, и мы это не передали вовне (в основное тело программы). Поэтому `return` можно расценивать как своеобразный способ "общения" между различными звеньями вашего кода

## Классы: Создание собственных объектов

Здесь мы создаем класс `Animal`.    
Метод `__init__` называется конструктором. В нем мы можем определить необходимые атрибуты нашего класса и запомнить их. Зачастую атрибуты передаются извне. Как например здесь, мы передаем имя и возвраст животного.   
Впоследствии мы можем обращаться к атрибутам в методах нашего класса при помощи `self` (например, определив `self.name` в конструкторе, мы можем обращаться к нему в методе `tell_about_yourself`).  
Мы можем писать сколько угодно нужных нам методов внутри класса. Например, здесь реализован метод `tell_about_yourself`, который выводит имя и возраст животного в нужном нам виде.   
Зачастую первым аргументом в методах класса будет аргумент `self`, а затем уже будут идти другие аргументы.

In [279]:
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def tell_about_yourself(self):
        print("Hello, my name is", self.name)
        print("My age is", self.age)
        
        
dog = Animal(name="Bob", age=5)
dog.tell_about_yourself()

cat = Animal("Alice", 3)
cat.tell_about_yourself()

cow = Animal("Burenka", 10)
cow.tell_about_yourself()

Hello, my name is Bob
My age is 5
Hello, my name is Alice
My age is 3
Hello, my name is Burenka
My age is 10

Ниже еще один пример, но он мне кажется слегка сложным для начала

In [280]:
# Определяем новый класс под названием «Thing», который является производным от базового объекта Python (object).
# Иначе говоря, наследуется от типа object
class Thing(object):
    my_property = 'I am a "Thing"'


# Определите новый класс под названием DictThing, который является производным (наследуется) от типа dict.
class DictThing(dict):
    my_property = 'I am a "DictThing"'

In [281]:
print(Thing)
print(type(Thing))
print(DictThing)
print(type(DictThing))
print(issubclass(DictThing, dict))
print(issubclass(DictThing, object))

<class '__main__.Thing'>
<class 'type'>
<class '__main__.DictThing'>
<class 'type'>
True
True

In [282]:
# Create "instances" of our new classes
t = Thing()
d = DictThing()
print(t)
print(type(t))
print(d)
print(type(d))

<__main__.Thing object at 0x118a00e60>
<class '__main__.Thing'>
{}
<class '__main__.DictThing'>

In [283]:
# Interact with a DictThing instance just as you would a normal dictionary
d['name'] = 'Sally'
print(d)

{'name': 'Sally'}

In [284]:
d.update({
        'age': 13,
        'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'],
        'fav_color': 'green',
    })
print(d)

{'name': 'Sally', 'age': 13, 'fav_foods': ['pizza', 'sushi', 'pad thai', 'waffles'], 'fav_color': 'green'}

In [285]:
print(d.my_property)

I am a "DictThing"

## Создание метода-конструктора (инициализатора) для ваших классов

## Magic-методы

## Контекстные менеджеры и оператор with